<div class="conteiner">

	<div class="conteiner__avatar-cicle">

		<app-avatar />

		<div class="conteiner__form">
			
			<textarea (keyup.enter)="sendTweet()" [(ngModel)]="tweetMessage" (input)="changeTweet()"
				[maxlength]="tweetMaxLength" class="conteiner__text-area" 
				rows="3" placeholder="What's happening...">

			</textarea>

			<div class="conteiner__divid-line">
			</div>

			<div class="conteiner__interactive">

				<div class="conteiner__count-characters">
					<p>{{tweetRemain}}</p>
				</div>

				<div class="mt-5">
					<button (click)="sendTweet()" type="button" class="conteiner__button-send-tweet">
						Tweet
					</button>
				</div>

			</div>

		</div>

	</div>

</div>