.conteiner{
    flex-shrink: 0;
    margin-right: 1.25rem
}
.conteiner__avatar-logo{
    cursor: pointer;
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999rem;
}

.conteiner__avatar-logo >img{
    height: 4rem;
    width: 4rem;
    border-radius: 99999rem;
}