.new-post{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: end;
}
.tweet{
    border-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    border-top: 1rem;
    border-bottom: 1rem;
}